<!doctype html>
<html lang="fr">
  <head>
    <title>Confirmation</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 50px;
      }
      .container {
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 10px;
        display: inline-block;
      }
      h1 {
        color: green;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Compte Confirmé</h1>
      <p>
        Votre compte a été confirmé avec succès. Vous pouvez maintenant vous
        connecter.
      </p>
      <a href="https://le-phare-culturel.fr/login"
        >Aller à la connexion</a
      >
    </div>
  </body>
</html>
